<div class="drawer-overlay" aria-hidden="true"></div>

<nav id="drawer" class="drawer" aria-hidden="true">
    <button class="drawer-close" aria-label="Close navigation">&times;</button>

    <div class="drawer-section">
        <h3 class="drawer-heading">Topics</h3>
        {{#get "tags" limit="all"}}
            <ul class="drawer-list">
                {{#foreach tags}}
                    <li><a href="{{url}}" class="drawer-link">{{name}}</a></li>
                {{/foreach}}
            </ul>
        {{/get}}
    </div>

    {{#is "post"}}
    <div class="drawer-section drawer-nav-section">
        {{#post}}
            {{#prev_post}}
                <a href="{{url}}" class="drawer-nav-link">&larr; Previous</a>
            {{/prev_post}}
            {{#next_post}}
                <a href="{{url}}" class="drawer-nav-link">Next &rarr;</a>
            {{/next_post}}
        {{/post}}
    </div>
    {{/is}}
</nav>
