{{!< default}}

<header class="author-header">
    <h1 class="author-name">{{author.name}}</h1>
    {{#if author.bio}}
        <p class="author-bio">{{author.bio}}</p>
    {{/if}}
</header>

<main class="stack">
    {{#foreach posts}}
        {{> card}}
    {{/foreach}}
</main>

{{> pagination}}

<footer class="page-footer">
    <div class="rule"></div>
    {{> mark}}
</footer>
