{{!< default}}

<article class="letter error-page">
    <header class="letter-header">
        <h1 class="letter-title">{{statusCode}}</h1>
    </header>

    <div class="letter-content">
        <p>{{message}}</p>
        <p><a href="/">Return home</a></p>
    </div>

    <footer class="letter-footer">
        <div class="rule"></div>
        {{> mark}}
    </footer>
</article>
