{{!< default}}

{{#post}}
<article class="letter">
    <header class="letter-header">
        <time class="letter-date" datetime="{{date format="YYYY-MM-DD"}}">
            {{date format="D MMMM YYYY"}}
        </time>
        <h1 class="letter-title">{{title}}</h1>
    </header>

    <div class="letter-content">
        {{content}}
    </div>
</article>
{{/post}}

{{> subscribe}}
