---
import Base from '../layouts/Base.astro';
import Card from '../components/Card.astro';
import Subscribe from '../components/Subscribe.astro';
import { getPosts } from '../lib/ghost';

const posts = await getPosts();
---

<Base title="Macon Phillips - Letters from Warren, Vermont">
    <main class="stack">
        {posts.map((post) => (
            <Card post={post} />
        ))}
    </main>

    <Subscribe />
</Base>
